.button {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 19px;
  padding: 12.5px;
  text-align: center;
  background: linear-gradient(93.93deg, #8F00FF 0%, #3625A3 83.13%, #862B88 106.41%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  color: white;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  border: none;
  cursor: pointer;

  &:disabled {
    cursor: auto;
    color: #777;
  }

  @media screen and (min-width: 768px) {
    width: 338px;
    margin-bottom: 24px;
  }
}

.transparent {
  font-weight: normal;
  background: transparent;
  border: 1px solid #5C5C5C;
}