.item {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 48%;
  aspect-ratio: 1/1.5;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 0;
  vertical-align: top;
  text-align: center;
  background-color: #000;
  border: 1px solid rgb(49, 49, 49);
  border-radius: 7px;
  cursor: pointer;

  @media screen and (min-width: 400px) {
    width: 32%;
  }

  @media screen and (min-width: 768px) {
    width: 24%;
  }

  @media screen and (min-width: 1200px) {
    width: 16%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
  }
}

.item_text {
  align-items: flex-start;
  background: linear-gradient(206.71deg, #8F00FF 33.47%, #3625A3 91.91%, #862B88 108.28%);
  word-wrap: break-word;
  border: none;

  a {
    color: white;
  }
}

.link {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;

  p {
    width: 100%;
  }
}

.categories {
  position: absolute;
  bottom: 12px;
  right: 7px;
  display: flex;
  padding: 0;
  list-style-type: none;
}
