.title {
  display: block;
  color: #B9B9B9;
  text-align: left;
  width: 100%;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    width: 402px;
    margin-left: auto;
    margin-right: auto;
  }
}

.select {
  width: 100%;
  padding: 14px;
  background-color: #3D3D3D;
  border-radius: 7px;
  border: none;
  outline: none;
  color: white;
  appearance: none;
  background-image: url('./arrow.png');
  background-repeat: no-repeat;
  background-position: top 50% right 14px;
}