$Gray: #898989;
$Border: #2F2F2F;
$inputBorder: #494949;

.dreamReview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(35, 35, 35, 0.65);
  z-index: 1;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    padding: 0;
  }
}

.wrapper {
  padding: 20px;
  overflow-Y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar { width: 0; }

  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    overflow-Y: auto;
  }
}

.video,
.text {
  margin-right: 0;
  @media screen and (min-width: 1024px) {
    margin-right: 12px;
  }
}

.video {
  iframe {
    max-width: 100%;
    border-radius: 12px;
  }
}

.video,
.text,
.infoWrapper {
  @media screen and (min-width: 320px) {
    width: 300px;
  }

  @media screen and (min-width: 425px) {
    width: 370px;
  }

  @media screen and (min-width: 768px) {
    width: 400px;
  }
}

.text {
  white-space: pre-wrap;
  word-break: break-word;
  background: linear-gradient(206.71deg, #8F00FF 33.47%, #3625A3 91.91%, #862B88 108.28%);
  text-align: center;
  padding: 22px;
  border-radius: 12px;
  margin-bottom: 10px;

  @media screen and (min-width: 1024px) {
    width: 300px;
    height: 400px;
    vertical-align: middle;
    margin-bottom: 0;
  }
}

.infoWrapper {
  background-color: #000;
  padding: 22px;
  border-radius: 12px;
}

.information {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;

  h2 {
    line-height: 102.5%;
    margin: 0;
  }
}

.close {
  position: relative;
  height: 18px;
  margin-right: 9px;
  background-color: transparent;
  border: none;
  font-size: 0;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    content: '';
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.heading_3 {
  color: $Gray;
  font-size: 15px;
  margin-bottom: 4px;
}

.prop {
  margin: 0;
}

.categories {
  display: flex;
}

.imageWrapper {
  position: relative;

  &:hover {
    .hint {
      display: block;
    }
  }
}

.category {
  width: 45px;
  margin-top: 6px;
  margin-right: 5px;
  border-radius: 3px;

  @media screen and (min-width: 425px) {
    width: 59px;
  }
}

.hint {
  position: absolute;
  top: -30px;
  left: 29.5px;
  transform: translateX(-50%);
  display: none;
  width: auto;
  padding: 2px 8px;
  background: #484848;
  border-radius: 3px;
  white-space: nowrap;

  &::after {
    position: absolute;
    left: 50%;
    bottom: -7px;
    width: 8px;
    height: 8px;
    transform: rotate(45deg) translateX(-50%);
    background-color: inherit;
    content: '';
  }
}

.likes {
  display: flex;
  align-items: center;
  width: calc(100% + 44px);
  margin-top: 21px;
  margin-left: -22px;
  padding: 15px;
  border-top: 1px solid $Border;
  border-bottom: 1px solid $Border;
}

.like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid #404040;
  background-color: transparent;
  cursor: pointer;
}

.like_active {
  path {
    stroke: red;
    fill: red;
  }
}

.share {
  position: relative;
}

.input {
  width: 100%;
  background-color: transparent;
  color: $Gray;
  padding: 11px;
  border: 1px solid $inputBorder;
  border-radius: 7px;
}

.shareButton {
  position: absolute;
  top: 9px;
  right: 15px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #000;
  cursor: pointer;
}
