.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;

  @media screen and (min-width: 600px) {
    height: 500px;
  }

  @media screen and (min-width: 768px) {
    height: 600px;
  }

  @media screen and (min-width: 1024px) {
    height: 700px;
  }

  @media screen and (min-width: 1200px) {
    height: 800px;
  }

  @media screen and (min-width: 1349px) {
    height: 950px;
  }
}

.title {
  margin-top: 56px;
  margin-bottom: 0;
  font-size: 32px;
  text-align: center;

  @media screen and (min-width: 425px) {
    font-size: 44px;
  }

  @media screen and (min-width: 540px) {
    width: 60%;
    margin-bottom: 32px;
    text-align: left;
  }

  @media screen and (min-width: 1024px) {
    margin-top: 150px;
    font-size: 56px;
  }

  @media screen and (min-width: 1349px) {
    width: 65%;
    margin-top: 250px;
    font-size: 80px;
    line-height: 82px;
  }
}

.img {
  margin-left: -20px;
  min-width: 100vw;

  @media screen and (min-width: 540px) {
    position: absolute;
    top: 100px;
    right: 0;
    min-width: 55%;
    z-index: -1;
  }
}

.text {
  margin: 0;
  font-size: 16px;

  @media screen and (min-width: 540px) {
    margin-bottom: 24px;
    width: 50%;
  }

  @media screen and (min-width: 1349px) {
    margin-bottom: 24px;
    width: 50%;
    font-size: 20px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 272px;
  padding: 24px 0;

  svg {
    margin-left: 21px;
  }

  @media screen and (min-width: 540px) {
    margin-left: 0;
  }
}