.title {
  margin-top: 20px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
}

.text {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 65.5%;
  }
}