.container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: #2A2032C2;
  overflow: auto;
}

.container_open {
  display: block;
}

.window {
  padding: 16px;
  border-radius: 12px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 58px;
  margin-bottom: 58px;
  color: #fff;
  background-color: #000;
  text-align: left;
  z-index: 2;

  @media screen and (min-width: 425px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    max-width: 726px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 12px;
  background-color: #222;
  text-align: left;
}

.close {
  position: relative;
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::after,
  &::before {
    position: absolute;
    top: 12px;
    left: -2px;
    width: 18px;
    height: 2px;
    outline: none;
    background-color: #fff;
    transform: rotate(45deg);
    content: '';
  }

  &::after {
    transform: rotate(-45deg);
  }
}