*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: #fff;
  background: linear-gradient(45deg, #000 60%, rgb(23, 60, 109) 100%);
  background-repeat: no-repeat;
  font-family: 'IBM Plex Sans', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}